<div class="menubar">
    <div class="menubar__wrap">
        <a onclick="window.playerEvents.closePlayer(); window.playerEvents.closeGuide()" href="/">
            <img id="menuLiveButton" class="menubar__button" alt="Koti" src="/core-icons-svg/nrk-hardware-radio.svg" />
        </a>
        <a onclick="window.playerEvents.closePlayer(); window.playerEvents.closeGuide()" href="/feeds/">
            <img id="menuAODButton" class="menubar__button" alt="Podcastit" src="/core-icons-svg/nrk-hardware-headphones.svg" />
        </a>
        <a href="#" onclick="window.playerEvents.closePlayer(); window.playerEvents.closeGuide(); window.openGuide(); return false">
            <img id="progGuideButton" class="menubar__button" alt="Ohjelmaopas" src="/core-icons-svg/nrk-media-programguide.svg" />
        </a>
    </div>
</div>
