{{ define "main" }}
<center>
  <div class="full-height">
    <div class="player-container">
      <button id="playStopButton" onclick="window.toggleLive()" class="play-stop-button">
            <span class="" id="play">
                <img src="/core-icons-svg/nrk-hardware-radio.svg" />
            </span>
            <span class="hidden" id="stop">
                <img src="/core-icons-svg/nrk-hardware-radio.svg" />
            </span>
      </button>
        <div id="metadata-container">
            <p>
                Kuuntele suoraa lähetystä
            </p>
        </div>
    </div>
    <div id="upcoming-schedule"></div>
  </div>

  <!-- Schedule overlay moved to baseof.html so it's accessible from all views -->

  <script>
    window.PROGRAM_DATA = {{ $.Site.Data.program | jsonify | safeJS }};
  </script>
  {{ $schedule := resources.Get "js/schedule.js" | minify | fingerprint }}
  <script src="{{ $schedule.RelPermalink }}"></script>
</center>

{{ end }}
